# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build files
dist/
build/
tmp/
temp/
.cache/

# MongoDB dump files
dump/

# PM2 process logs
pids/
*.pid
*.seed

# Coverage reports
coverage/

# Debugger logs
*.tgz

# Optional npm cache directory
.npm/

# TypeScript (in case you temporarily try TS tools)
*.tsbuildinfo
